table {
  border-collapse: collapse;
  margin: 1em;
  margin: auto;
}

table, th, td {
  border: solid 1px black;
  padding: .5em;
}

.var-label {
  background-color: lightskyblue;
}

.result-row {
  background-color: lightgray;
}

.trueValue {
  background-color: #eeffee;
}

.falseValue {
  background-color: #ffeeee;
}

.success {
  background-color: lightgreen;
}

.failure {
  background-color: lightcoral;
}

.column-hidden {
  background-color: black;
}